@font-face {
    font-family: Obrazec;
    src: url("../fonts/Obrazec.otf");
}

*:hover {
    pointer-events: none;
}

.container-box {
    background-color: black;
    vertical-align: bottom;
    padding: 0;
}

.container-box div {
    margin-left: 8.3vw;
}

.container-box:hover .text-p {
    color: white;
}

.container-box:hover .title-img {
    filter: brightness(65%);
}


.box {
    display: inline-block;
    width: 35vw;
    height: 68vh;
    max-height: 500px;
    text-align: left;
    margin-top: 16vh;
    vertical-align: bottom;
}

.title-img {
    width: 35vw;
    height: auto;
    transition-duration: 1s;
}

.title-p {
    font-family: Obrazec, sans-serif;
    font-size: 34vh;
    letter-spacing: -12px;
    color: white;
    margin-top: 0;
    line-height: 25vh;
    transition-duration: 1s;
}

.text-p {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.3vw;
    max-font-size: 18px;
    text-align: left;
    padding-top: 1vw;
    transition-duration: 1s;
    margin-top: 0;
}

.container-login-btn {
    margin-top: 80px;

}

.login-btn {
    pointer-events: auto;
    width: 20%;
    height: 60px;
    background-color: #0D99FF;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    max-font-size: 20px;
    color: white;
    transition-duration: 1s;
    text-transform: uppercase;

}

.login-btn:hover {
    box-shadow: 0 0 100px white;
}

body, html {
    background-color: black;
}