@font-face {
    font-family: Obrazec;
    src: url("../fonts/Obrazec.otf");
}

*:hover {
    pointer-events: none;
}

.container-box {
    background-color: black;
    vertical-align: bottom;
    padding: 0;
}

.container-box:hover .text-p{
    color: white;
}

.container-box:hover .title-p{
    color: darkgray;
}


.box {
    display: inline-block;
    width: 35vw;
    height: 68vh;
    max-height: 500px;
    margin-left: 160px;
    text-align: left;
    margin-top: 180px;
    vertical-align: bottom;
}

.title-p {
    font-family: Obrazec, sans-serif;
    font-size: 34vh;
    letter-spacing: -12px;
    color: white;
    margin-top: 0;
    line-height: 25vh;
    transition-duration: 1s;
}

.text-p {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
    padding-top: 80px;
    transition-duration: 1s;
}

.container-login-btn{
    margin-top: 100px;
}

.login-btn {
    margin-left: 160px;
    pointer-events: auto;
    width: 22vw;
    height: 10vh;
    background-color: #0D99FF;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    transition-duration: 1s;
    text-transform: uppercase;

}

.login-btn:hover {
    box-shadow: 0 0 100px white ;
}

body, html {
    background-color: black;
    overflow: hidden;
}