<meta charset="utf-8">
<style>

    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    .nodes.main circle {
        stroke: red;
    }

    div.outer {
        margin: auto;
        width: 99%;
        height: 99%;
        border: 1px solid #ccc;
        background-color: #eee;
    }

    svg.graph {
        margin: auto;
        border: 1px solid cornflowerblue;
        width: 98%;
        height: 98%;

    }

</style>
<div class="outer">
    <svg class="graph" width="1500" height="600">

    </svg>
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/js/force_diricted_graph.js"></script>